.my-img {
    width: 50px;
    margin: auto;
}

.mytr:hover {
    color: black;
    background-color: rgb(40,40,40);

    td {
        color: white;
    }
}

.pageActive {
    background-color: blue;
    color: white;
}

.paginationContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    // background-color: transparent;
}
