.contenido {
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
}

.contenido strong{
    color: black;
}

.contenidoCiudad {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 20px;
}

.contenidoCiudad img {
    width: 300px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
}

// .closed {
//     width: 100px;
//     height: 40px;
//     padding: 10px;
//     margin-top: 20px;
//     text-align: center;
// }

.contenidoGraficas {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
}

.graficasCircular {
    width: 500px;
    height: 500px;
    margin: 10px;
}

.graficaBarras {
    width: 550px;
    height: auto;
    margin: 10px;
}