<h2 mat-dialog-title>{{data.country.name}} details </h2>

<div class="contenido">
    
    <div class="contenidoCiudad">
        <img src="{{data.country.flag}}">
        <p><strong>Native Name : </strong> {{data.country.nativeName}}</p>
        <p><strong>Region : </strong> {{data.country.region}}</p>
        <p><strong>Capital : </strong> {{data.country.capital}}</p>
        <p><strong>Population : </strong> {{data.country.population}}</p>
        <p><strong>Subregion : </strong> {{data.country.subregion}}</p>
    </div>

    <div class="contenidoGraficas">

        <div class="graficaCircular">
            <app-pie-chart 
                [totalDeaths]="getTotalDeaths()"
                [totalRecovered]="getTotalRecovered()">
            </app-pie-chart>
        </div>

        <div class="graficaBarras">
            <app-line-chart></app-line-chart>
        </div>
        
    </div>

</div>

<!-- <button (click)="onNoClick()" class="btn btn-light closed">
    <strong>Close</strong>
</button> -->