table {
    width: 100%;
 }

.mat-form-field {
    font-size: 14px;
    width: 100%;
    background-color: white;
    color: black;
}

.mat-table {
    color: red;
    background-color:black;
}

.mat-form-field {
    background-color: silver;
    color: black;
}